
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

  .title {
    color: #fff;
  }

  .icon-inactive {
    color: #888;
  }

  .icon-active {
    color: #aaff00;
  }
}

#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }
.widget-basedisplay-default-label .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-label .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-label .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-label .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-label .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-label .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseclock-default-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-baseweather-default-weather {
	color: white;
}

.widget-baseweather-default-weather h1 {
	margin-bottom: 0px;
}

.widget-baseweather-default-weather [class^="primary"] {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-baseweather-default-weather [class^="secondary"] {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.widget-baseweather-default-weather .primary-climacon {
	font-family: "Climacons-Font";
	font-size: 70px;
}

.widget-baseweather-default-weather .primary-info {
	font-size: 300%;
	font-weight: 400;
}

.widget-baseweather-default-weather .primary-unit {
	font-size: 100%;
	font-weight: 400;
	margin-left: 0;
	margin-top: 20px;
	vertical-align: top;
}

.widget-baseweather-default-weather .secondary-icon {
	font-family: "Climacons-Font";
	font-size: 40px;
	margin-left: 10px;
	margin-right: 0px;
}

.widget-baseweather-default-weather .secondary-climacon {
	font-family: "Climacons-Font";
	font-size: 55px;
	margin-left: 10px;
	margin-right: 10px;
}

.widget-baseweather-default-weather .secondary-info {
	font-size: 125%;
	font-weight: 200;
}

.widget-baseweather-default-weather hr {
	width: 90%;
	border: 0;
	height: 1px;
	background: rgba(255, 255, 255, 0.25);
	margin-top: 15px;
	margin-bottom: 15px;
}
.widget-baseswitch-default-workspace-room {
	position: relative;
}

.widget-baseswitch-default-workspace-room .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-workspace-room .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-workspace-room .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-workspace-room .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-workspace-room .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-hifi-room {
	position: relative;
}

.widget-baseswitch-default-hifi-room .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-hifi-room .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-hifi-room .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-hifi-room .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-hifi-room .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-lounge-entrance {
	position: relative;
}

.widget-baseswitch-default-lounge-entrance .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-lounge-entrance .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-lounge-entrance .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-lounge-entrance .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-lounge-entrance .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-bh-pc {
	position: relative;
}

.widget-baseswitch-default-bh-pc .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-bh-pc .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-bh-pc .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-bh-pc .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-bh-pc .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-kitchen-room {
	position: relative;
}

.widget-baseswitch-default-kitchen-room .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-kitchen-room .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-kitchen-room .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-kitchen-room .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-kitchen-room .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-lounge-coffee {
	position: relative;
}

.widget-baseswitch-default-lounge-coffee .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-lounge-coffee .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-lounge-coffee .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-lounge-coffee .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-lounge-coffee .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-work-scene {
	position: relative;
}

.widget-baseswitch-default-work-scene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-work-scene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-work-scene .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-work-scene .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-work-scene .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-meetting-room {
	position: relative;
}

.widget-baseswitch-default-meetting-room .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-meetting-room .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-meetting-room .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-meetting-room .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-meetting-room .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-terrace {
	position: relative;
}

.widget-baseswitch-default-terrace .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-terrace .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-terrace .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-terrace .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-terrace .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-wc {
	position: relative;
}

.widget-baseswitch-default-wc .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-wc .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-wc .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-wc .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-wc .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-lounge-middle {
	position: relative;
}

.widget-baseswitch-default-lounge-middle .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-lounge-middle .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-lounge-middle .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-lounge-middle .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-lounge-middle .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-hall {
	position: relative;
}

.widget-baseswitch-default-hall .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-hall .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-hall .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-hall .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-hall .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-byebye-scene {
	position: relative;
}

.widget-baseswitch-default-byebye-scene .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-byebye-scene .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-byebye-scene .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-byebye-scene .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-byebye-scene .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-lounge-room {
	position: relative;
}

.widget-baseswitch-default-lounge-room .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-lounge-room .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-lounge-room .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-lounge-room .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-lounge-room .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-lounge-meeting {
	position: relative;
}

.widget-baseswitch-default-lounge-meeting .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-lounge-meeting .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-lounge-meeting .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-lounge-meeting .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-lounge-meeting .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

